.body{
    background-color:white;
}
.flex {
    display: flex;
    justify-content: flex-end;

}

.flexy {
    display: flex;
}

#flex {
    display: flex;
    justify-content: flex-start;
}

.home-a {
    color: red;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    font-style: italic;
}

.home-u {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    padding: 0px 50px;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.things {
    padding: 20px 20px;
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: row;
    border-color: white;
    object-fit: contain;
    text-decoration: none;
    list-style: none;
    transition: transform 1.s;
}

.diva {
    padding: 2px;
    border: 1px solid black;
    margin: 4px;
}


.thingsView:hover{
    transform: translateY(-20px);
}

.product-name {
    /* margin: 20px 20px; */
    background-color: white;
    /* width: 280px;
    height: 42px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* border: 3px solid black; */


}

.div {
    display: flex;
    flex-direction:row;
    padding-left: 5px;
    padding-right: 3px;

}

#inp {
    padding: 10px;
    width: 430px;
}

#btn {
    padding: 1px;
    color: black;
    background-color: blueviolet;
    border-style: none;
    border-radius: 10px;
    width: 220px;
    font-style: italic;
    font-size: 30px;
}

#footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: red;
    font-style: italic;
    width: 2000px;
    height: 250px;
    background-color: black;
}

.price, .product-name-price ,#add{
    /* display: flex; */
    /* align-content: center; */
    text-align: center;
    
}

.price{
    text-decoration: solid;
    font-weight: bold;
}
.fimg{
    width: 25px;
    height: 25px;
    margin: 0 15px;
    display: flex;
    justify-content:baseline;
    
 }
 #one{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    justify-content:last baseline ;
}
#add{
    padding: 20px;
    width: 220px;
    color: white;
    background-color: purple;
    border-style: none;
    font-weight: bold;
    border: 20px;
    display: flex;
    justify-content: center;
}
.doflex{
    display: flex;
    flex-direction: row;
}