.flex{
    display: flex;
justify-content:  flex-end;   
    
}
.flexy{
    display: flex;
}
#flex{
    display: flex;
    justify-content: flex-start;
}
.home-a {
    color:red;
    font-size:20px ;
    padding: 0px 10px ;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style:none ;
    text-decoration: none;
    font-style: italic;
}
.img{
    width: 70px;
    height:70px ;
    border-radius: 50%;
}
#div{
    width: 50px;
    height: 250px;
    border-color: black;
    border: 10px;
}


#footer {
    display: flex;
    justify-content: center;
    color: red;
    font-style: italic;
}
#add{
    padding: 20px;
    width: 320px;
    color: white;
    background-color: purple;
    border-style: none;
    font-weight: bold;
}
#doflex{
    display: flex;
    flex-direction: row;
}
#do{
    display: flex;
}
.change{
    width:  400px;
  
}