.flex {
    display: flex;
    justify-content: flex-end;

}

.flexy {
    display: flex;
}

#flex {
    display: flex;
    justify-content: flex-start;
}
.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#add{
    padding: 20px;
    width: 220px;
    color: white;
    background-color: purple;
    border-style: none;
    font-weight: bold;
    border: 20px;
}
.doflex{
    display: flex;
    flex-direction: row;
}